{# mensaje de reguistro #}
<div class="mt-3">
    {% if try_mensaje is defined %}
        <div class="alert-warning">
            {{try-mensaje}}
        </div>
    {% endif  %}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="{{ label }}">
                <span>
                    {{message}}
                </span>
            </div>
        {% endfor %}
    {% endfor %}
</div>

