{% extends 'base.html.twig' %}

{% block title %}Hello TarifaController!{% endblock %}

{% block body %}
{% include 'includes/addflashbag.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{{form_start(form) }}
{{form_end(form) }}
{% endblock %}
